.App {

}

.App-header {

}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border: solid;
}

li {
  list-style-type: none;
}

.details_token {
  border: solid;
  padding: 1rem;
  margin: 1rem;
}

.details_token_header {
  border: solid;
  display: flex;
  flex-direction: row;
}

.details_token_header_coin {
  border: solid;
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.details_token_header_rank {
  border: solid;
  flex: 1;
  display: flex;
  justify-content: center;
}

.details_token_data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid;
  padding: 1rem;
  text-align: center;
}

.details_token_data div {
  border: solid;
  padding: 1rem;
  margin: 1rem;
}

.details_token_others {
  text-align: center;
}